/* estilos responsive enerzona */





/* start: estilos media theme.css*/

/* Layout Fixed */
@media only screen and (min-width: 768px) {
	/* Layout Fixed - Reseting Styles */
	html.fixed .inner-wrapper,
	html.fixed .sidebar-left,
	html.fixed .content-body {
		display: block;
	}

	/* Layout Fixed - Header */
	html.fixed .header {
		/*position: fixed;
		z-index: 1020;*/
		
	}

	/* Layout Fixed - Inner Wrapper */
	html.fixed .inner-wrapper {
		padding-top: 110px;
	}

	/* Layout Fixed - Content Body */
	html.fixed .content-body {
		margin: auto;
	}

	html.fixed .content-body.has-toolbar {
		padding-top: 92px;
	}

	/* Layout Fixed - Page header */
	html.fixed .page-header {
		left: 300px;
		margin: 0;
		position: fixed;
		right: 0;
		top: 60px;
	}

	/* Layout Fixed - Sidebar Left */
	html.fixed .sidebar-left {
		bottom: 0;
		left: 0;
		padding-bottom: 50px;
		position: fixed;
		top: 60px;
	}

	html.fixed .sidebar-left .nano-content {
		padding-bottom: 50px;
	}

	/* Layout Fixed - Sidebar Left Collapsed */
	html.fixed.sidebar-left-collapsed .page-header {
		left: 73px;
	}

	html.fixed.sidebar-left-collapsed .content-body {
		margin-left: 73px;
	}

	/* Layout Fixed - Sidebar Right Opened */
	html.fixed.sidebar-right-opened .page-header {
		left: 0;
		margin-right: 300px;
	}

	html.fixed.sidebar-right-opened .sidebar-left {
		left: -300px;
	}

	/* Layout Fixed - Sidebar Left Collapsed & Sidebar Right Opened */
	html.fixed.sidebar-left-collapsed.sidebar-right-opened .page-header {
		left: -300px;
	}
}



@media only screen and (max-width: 767px) {
	html,
	body {
		background: #ecedf0;
	}

	html.mobile-device .sidebar-left,
	html.mobile-device .sidebar-right {
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	body {
		min-height: 100vh;
	}

	.inner-wrapper,
	.sidebar-left,
	.content-body {
		display: block;
	}

	.body {
		min-height: 0;
		overflow: visible;
	}

	.header {
		background: none;
		border: none;
		height: auto;
		position: static;
	}

	.header .logo-container {
		height: 60px;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99;
	}
	
	.header .logo-container .logo img {
			width: 145px;
			height: 100%;
	}

	.header .header-right {
		background: #fff;
		float: none !important;
		height: 60px;
		margin-top: 0px;
		width: 100%;
	}

	.inner-wrapper {
		min-height: 0;
		padding-top: 0;
	}

	.content-body {
		padding: 0 15px 15px;
	}

	.page-header {
		margin: 0 -15px 20px;
	}

	.sidebar-left {
		bottom: 0;
		left: -100%;
		min-height: 0;
		min-width: 100%;
		min-width: 100vw;
		padding-top: 60px;
		padding-bottom: 50px;
		position: fixed;
		overflow: hidden;
		top: 0;
		z-index: 98 !important;
	}

	.sidebar-right {
		bottom: 0;
		left: auto;
		right: -100%;
		min-height: 0;
		margin-right: 0;
		min-width: 100%;
		min-width: 100vw;
		top: 0;
		z-index: 100;
	}

	html.csstransforms .sidebar-left,
	html.csstransforms .sidebar-right {
		/* performs better but native android browser
		has problems with translate and percentage
		@include transition-property(transform);
		*/
		-webkit-transition-property: margin;
		-moz-transition-property: margin;
		transition-property: margin;
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
		transition-duration: 0.25s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		transition-delay: 0;
	}

	html.csstransforms .sidebar-left {
		/* performs better but native android browser
		has problems with translate and percentage
		@include transform( translateX(0) );
		*/
		margin-left: -25px;
	}

	html.csstransforms .sidebar-right {
		/* performs better but native android browser
		has problems with translate and percentage
		@include transform( translateX(0) );
		*/
		margin-right: -25px;
	}

	/* If desktop is seeing mobile res, fix scrollbars */
	html.no-mobile-device body {
		min-height: 0;
	}

	html.no-mobile-device .body {
		min-height: 100vh;
		overflow: hidden;
	}

	html.no-mobile-device .inner-wrapper {
		overflow-y: auto;
	}

	html.no-mobile-device.sidebar-left-opened, html.no-mobile-device.sidebar-left-opened body, html.no-mobile-device.sidebar-right-opened, html.no-mobile-device.sidebar-right-opened body {
		overflow: hidden;
	}

	/* Layout Mobile - Sidebar Left Opened */
	html.sidebar-left-opened.no-csstransforms .sidebar-left {
		left: 0;
	}

	html.sidebar-left-opened.csstransforms .sidebar-left {
		/* performs better but native android browser
		has problems with translate and percentage
		@include transform( translateX(100%) );
		*/
		margin-left: 100%;
	}

	/* Layout Mobile - Sidebar Right Opened */
	html.sidebar-right-opened.no-csstransforms .sidebar-right {
		right: 0;
	}

	html.sidebar-right-opened.csstransforms .sidebar-right {
		/* performs better but native android browser
		has problems with translate and percentage
		@include transform( translateX(-100%) );
		*/
		margin-right: 100%;
	}

	/* Layout Mobile - Sidebar Left Collapsed & Sidebar Right Opened */
	html.sidebar-left-collapsed.sidebar-right-opened .sidebar-left {
		margin-left: -300px;
	}
}


/* fin: estilos media theme.css*/


/* start: estilos media default.css*/

@media only screen and (min-width: 768px) {
	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
	html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
		color: #0088cc;
	}

	html.sidebar-left-collapsed.scroll .sidebar-left .nav-main > li:hover > a span.label,
	html.sidebar-left-collapsed.boxed .sidebar-left .nav-main > li:hover > a span.label {
		background-color: #0088cc;
	}
}
/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
	html.boxed .header {
		border-top-color: #0088cc;
	}
}
/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
	html.boxed .header {
		border-top-color: #0088cc;
	}

	html.boxed .sidebar-right {
		border-top-color: #0088cc;
		min-height: 0;
	}
}

/* fin: estilos media default.css*/