<header class="page-header">
    <h2>Hours Report</h2>
</header>

<div>
    <!-- start: page -->
    <table class="table table-bordered table-striped table-condensed mb-none" id="hoursReportList" style="width:100%"></table>
    <!-- end: page -->
</div>

<!--
<button class="mb-xs mt-xs mr-xs btn btn-success" id="exportBtn" onclick="teamReport_exportToExcel()">
    <i class="fa fa-file-excel-o"></i>
    Export
</button>
-->
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="chart chart-md" id="hoursReportChart"></div>
            </div>
        </section>
    </div>
</div>