<div id="modalForm" class="modal-block modal-block-lg">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">2nd Line Form</h2>
        </header>
        <div class="panel-body">
            <input type="hidden" id="_id" name="_id"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Equipo</label>
                <div class="col-sm-4">
                    <select data-plugin-selectTwo class="form-control input-sm" id="equipo" name="equipo">
                        <option value="CS Digital">CS Digital</option>
                        <option value="CS Voice">CS Voice</option>
                        <optgroup label="CS Boutique">
                            <option value="BTQ Alcorta">BTQ Alcorta</option>
                            <option value="BTQ Alto Palermo">BTQ Alto Palermo</option>
                            <option value="BTQ Alto Recoleta">BTQ Alto Recoleta</option>
                            <option value="BTQ Alto Unicenter">BTQ Alto Unicenter</option>
                        </optgroup>
                        <option value="MKT">MKT</option>
                        <option value="Trade">Trade</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-4">
                    <select data-plugin-selectTwo class="form-control input-sm" id="contacto" name="contacto">
                        <option value="Mail">Mail</option>
                        <option value="Teléfono">Teléfono</option>
                        <option value="Chat">Chat</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">CRC</label>
                <div class="col-sm-2">
                    <div class="switch switch-sm switch-dark">
                        <input type="checkbox" id="crc" name="crc" data-plugin-ios-switch />
                    </div>
                </div>
                <label class="col-sm-1 control-label">Apex</label>
                <div class="col-sm-2">
                    <div class="switch switch-sm switch-dark">
                        <input type="checkbox" id="apex" name="apex" data-plugin-ios-switch />
                    </div>
                </div>
                <label class="col-sm-1 col-md-offset-1 control-label">Fecha</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input type="text" id="fecha" name="fecha" data-plugin-datepicker class="form-control input-sm">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input type="text" id="hora" name="hora" data-plugin-timepicker class="form-control input-sm" data-plugin-options='{ "showMeridian": false, "minuteStep": 5 }'>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Usuario CS</label>
                <div class="col-sm-3">
                    <input type="text" id="ucs" name="ucs" class="form-control input-sm" placeholder="Ingrese usuario Coffee Specialist..." required/>
                </div>
                <label class="col-sm-1 control-label">Team Leader</label>
                <div class="col-sm-3">
                    <input type="text" id="team_leader" name="team_leader" class="form-control input-sm" placeholder="Ingrese Team Leader..." required/>
                </div>
                <label class="col-sm-1 control-label">Back Office</label>
                <div class="col-sm-3">
                    <input type="text" id="back_office" name="back_office" class="form-control input-sm" placeholder="Ingrese Back Office..." required/>
                </div>
            </div>
            <div class="form-group col-md-offset-3">
                <label class="col-sm-2 control-label">Incidencia</label>
                <div class="col-sm-5">
                    <select data-plugin-selectTwo class="form-control input-sm" id="incidencia" name="incidencia">
                        <optgroup label="Promoción">
                            <option value="Outbond">Outbond</option>
                            <option value="Promo MKT">Promo MKT</option>
                            <option value="Voucher">Voucher</option>
                            <option value="Hot Sale">Hot Sale</option>
                        </optgroup>
                        <optgroup label="Servicio Técnico">
                            <option value="Spare Part">Spare Part</option>
                            <option value="ST Aero no funciona">ST Aero no funciona</option>
                            <option value="ST Cambio 50%">ST Cambio 50%</option>
                            <option value="ST Cambio 100%">ST Cambio 100%</option>
                            <option value="ST Fauna">ST Fauna</option>
                            <option value="ST no devuelto">ST no devuelto</option>
                            <option value="ST no retirado">ST no retirado</option>
                            <option value="ST repactar">ST repactar</option>
                            <option value="ST retiro de muleto">ST retiro de muleto</option>
                            <option value="ST retornando">ST retornando</option>
                            <option value="ST Valor">ST Valor</option>
                            <option value="ST volvió y no funciona">ST volvió y no funciona</option>
                            <option value="Troubleshooting">Troubleshooting</option>
                        </optgroup>
                        <optgroup label="Delivery">
                            <option value="Pedido incompleto">Pedido incompleto</option>
                            <option value="Pedido mal armado">Pedido mal armado</option>
                            <option value="Pedido retornando">Pedido retornando</option>
                            <option value="Pedido entregado">Pedido entregado</option>
                            <option value="Pedido en sucursal ">Pedido en sucursal </option>
                            <option value="Pedido abollado">Pedido abollado</option>
                        </optgroup>
                        <optgroup label="Técnicas">
                            <option value="Error DM">Error DM</option>
                            <option value="Error Nessoft">Error Nessoft</option>
                            <option value="Impresora">Impresora</option>
                        </optgroup>
                        <optgroup label="Registración">
                            <option value="Nosis">Nosis</option>
                            <option value="Carga CM">Carga CM</option>
                        </optgroup>
                        <optgroup label="Facturación">
                            <option value="Pago Duplicado">Pago Duplicado</option>
                            <option value="Pagos">Pagos</option>
                            <option value="Pedido costo de envió">Pedido costo de envió</option>
                            <option value="Pedidos varios web">Pedidos varios web</option>
                            <option value="Quiere factura A compra con B">Quiere factura A compra con B</option>
                        </optgroup>
                        <optgroup label="Consultas">
                            <option value="Valor accesorio">Valor accesorio</option>
                            <option value="Valor maquinas">Valor maquinas</option>
                            <option value="Tierra del Fuego ">Tierra del Fuego </option>
                        </optgroup>
                        <optgroup label="Pedidos">
                            <option value="Pedido No salió">Pedido No salió</option>
                            <option value="Pedido error bases">Pedido error bases</option>
                            <option value="Pedido en waiting ">Pedido en waiting </option>
                            <option value="BTQ Pick Up ">BTQ Pick Up </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Número de CM</label>
                <div class="col-sm-4">
                    <input type="text" id="ncm" name="ncm" class="form-control input-sm" placeholder="Ingrese número de CM..." required/>
                </div>
                <label class="col-sm-2 control-label">Problema</label>
                <div class="col-sm-4">
                    <select data-plugin-selectTwo class="form-control input-sm" id="problema" name="problema">
                        <option value="No se encuentra la Info.">No se encuentra la Info.</option>
                        <option value="No está la Info.">No está la Info.</option>
                        <option value="Mala información">Mala información</option>problema
                        <option value="Falta de conocimiento">Falta de conocimiento</option>problema
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Problema resuelto</label>
                <div class="col-sm-4">
                    <div class="switch switch-sm switch-dark">
                        <input type="checkbox" id="problema_resuelto" name="problema_resuelto" data-plugin-ios-switch />
                    </div>
                </div>
                <label class="col-sm-2 control-label">Reenviado</label>
                <div class="col-sm-4">
                    <div class="switch switch-sm switch-dark">
                        <input type="checkbox" id="reenviado" name="reenviado" data-plugin-ios-switch />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Utiliza ShareClub</label>
                <div class="col-sm-4">
                    <div class="switch switch-sm switch-dark">
                        <input type="checkbox" id="share_club" name="share_club" data-plugin-ios-switch />
                    </div>
                </div>
                <label class="col-sm-2 control-label">FCR</label>
                <div class="col-sm-4">
                    <select data-plugin-selectTwo class="form-control input-sm" id="fcr" name="fcr">
                        <option value="N/A">N/A</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>problema
                    </select>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm">Save</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>
