<header class="page-header">
    <h2>Incidents list</h2>
</header>

<section class="panel panel-collapsed">
    <header class="panel-heading pb-sm pt-sm">
        <div class="panel-actions" style="top: 10px;">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
        </div>
        <h2 class="panel-title">Filters</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <label class="col-sm-2 control-label">Fecha Desde</label>
            <div class="col-sm-4">
                <div class="input-group">
                                    <span class="input-group-addon input-sm">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                    <input type="text" id="filtro_desde" name="filtro_desde" data-plugin-datepicker class="form-control input-sm" data-plugin-options='{ "format": "dd/mm/yyyy", "language": "es", "todayBtn": "linked", "todayHighlight": "true", "weekStart": "0", "orientation": "top"}'>
                </div>
            </div>
            <label class="col-sm-2 control-label">Fecha Hasta</label>
            <div class="col-sm-4">
                <div class="input-group">
                                    <span class="input-group-addon input-sm">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                    <input type="text" id="filtro_hasta" name="filtro_hasta" data-plugin-datepicker class="form-control input-sm" data-plugin-options='{ "format": "dd/mm/yyyy", "language": "es", "todayBtn": "linked", "todayHighlight": "true", "weekStart": "0", "orientation": "top"}'>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-xl">
    <!-- start: page -->
    <table class="table table-bordered table-striped table-condensed mb-none" id="incidentList" style="width:100%"></table>
    <!-- end: page -->
</div>

<a class="mb-xs mt-xs mr-xs modal-sizes btn btn-primary new-modal" href="incidentForm.html">New</a>
<button type="button" class="mb-xs mt-xs mr-xs btn btn-info edit-modal" id="editBtn" href="incidentForm.html">Edit</button>
<button class="mb-xs mt-xs mr-xs btn btn-danger modal-basic" id="deleteBtn" href="#modalCenter">Delete</button>
<button class="mb-xs mt-xs mr-xs btn btn-success" id="exportBtn" onclick="exportToExcel()">
    <i class="fa fa-file-excel-o"></i>
    Export
</button>

<div id="modalCenter" class="modal-block mfp-hide">
    <section class="panel">
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text text-center">
                    <p>Are you sure that you want to delete this incident?</p>
                    <button class="btn btn-primary confirmationBtn">Confirm</button>
                    <button class="btn btn-default dismissBtn">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>
